<article class="index">
  <div class="attribute">
    <span class="name"><%= t "simple_form.labels.fortune.quotation" %></span>
    <span class="value"><%= fortune.quotation %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t "simple_form.labels.fortune.source" %></span>
    <span class="value"><%= fortune.source %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t "simple_form.labels.fortune.tags" %></span>
    <span class="value tags"><%= fortune.tag_list.join(", ") %>
    </span>
  </div>

  <div class="form-actions">
    <%= link_to 'Show', fortune, class: 'btn btn-mini'%>
    <%= link_to 'Edit', edit_fortune_path(fortune), class: 'btn btn-mini'%>
    <%= link_to 'Destroy', fortune, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger'%>
  </div>
</article>
