
<div id="tytul2">
 <h1 id="tytul">  Blog </h1>
</div>


<div id="kontener">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p id="foremka">
    
     <%= f.label :email %> 

   <br/> <%= f.text_field :email %>
</p>  
  <p id="foremka">
    <%= f.label :password %> 
<br/>    <%= f.password_field :password %>
  </p>

 <p id="foremka">
    <%= f.label :password_confirmation %> 
 <br/>   <%= f.password_field :password_confirmation %>


  </p>

  <%= f.submit "Zarejestruj"  %>

<% end %>

</div>

<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w{a b c d e f g h s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>


