<h1> <%= @post.title %> </h1>

<div id="komentarze">
<p id="zaw"><%= @post.text %> </p>

<h2 id="naglowekkom">Comments</h2>
<% @post.comments.each do |comment| %>

<p><%= comment.author %></p>


<p> <%= comment.text %> </p>
<p id="ago"><%= time_ago_in_words comment.created_at %> ago </p>

<p id="tags"> <%= link_to "Delete comment", [@post, comment], :method => :delete, :confirm => "Are you sure?", :class => 'button' if is_logon_user?  %></p>
<% end %>


<%= form_for [@post, @post.comments.build] do |f| %>

<%=
 if is_logon_user? 
	f.text_field( :author, :value => user_email, :disabled => 'disabled')
       

 else f.text_field :author

end %>

<p><%= f.text_area :text, :size => '40x10' %></p>
<p><%= f.submit "Comment" %></p>
<% end %>


</div>
 


<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w{a b c d e f g h s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>



<p id="nowy">
<%= link_to "Back", posts_path %>

<%= link_to "Edit", edit_post_path(@post), :class => 'button' if is_logon_user?  %>

<%= link_to "Delete", @post, :method => :delete, :confirm => "Are you sure?", :class => 'button' if is_logon_user?  %>
</p>
