<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:atom, posts_path(:atom)) %>

</head>
<body>


<div id="user_nav">
  <% if current_user %>
<div style="float:left;">
    Witaj <b> <%= current_user.email %></b>
</div>
<div style="float:right;">
    <%= button_to "Wyloguj", log_out_path, :method => :get %>
</div>
  <% else %>
<div style="float:right;">
    <%= button_to "Zarejestruj się", sign_up_path, :method => :get %> 
</div>
<div style="float:right;">
    <%= button_to "Zaloguj", log_in_path, :method => :get %>
</div>
  <% end %>
<div style="float:right;">
<%= button_to "Nowy post", new_post_path, :method => :get, :class => 'button' if is_logon_user? %>
</div>

<div style="float:right;">
<%= button_to "Home", root_path %>
</div>


</div>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash#{name}" %>
<% end %>

<%= yield %>






</body>
</html>
